<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <center>
                    <img src="aboutus.gif" width=250 height=150 alt="Cannot shown"> </img>
                    <h1>Created and Designed By:</h1>
                    <h2><em>Aditya Gulhane</em></h2>
                    <h3>Year: April 2020</h3>
                    <h3>Done Graduation From SGBAU</h3>
                    <a href="{% url 'home' %}">Home</a>
                </center>
            </div>
        </div>        
    </body>
</html>